html {
  scroll-snap-type: y mandatory;
}

.app__videos {
  position: relative;
  height: 700px;
  overflow-y: scroll;
  width: 80%;
  /* if make screen begger it still be 500px 
  becouse of max-width */
  max-width: 500px;
  margin: 0 auto;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
